*.pyc
bin
lib
pyvenv.cfg
# These are setup files for the frontend that can be ingored
Frontend/node_modules
Frontend/package-lock.json
Frontend/.babelrc
Frontend/package.json
# These are setup folders for the backend that can be ingored.
Backend/thestars/Scripts/*
Backend/thestars/Include/*
Backend/thestars/tcl/*
Frontend/package.json
