
$main-color:#e44946 !default;

$vice-1:#f69f5f !default;
$vice-2:#e9615f !default;
$vice-3:#ffa200 !default;
$vice-4:#5bbfde !default;
$vice-5:#4690cd !default;
$vice-6:#665ca8 !default;
$vice-7:#45b6b0 !default;
$vice-8:#939393 !default;
$vice-9:#666666 !default;

$vice-list:$vice-1 $vice-2 $vice-3 $vice-4 $vice-5 $vice-6 $vice-7 $vice-8 $vice-9;

$border_color:#dddddd !default;